:root {
  /* COLORS */
  --color-navy-blue-100: #222831;
  --color-navy-grey-100: #272e37;
  --color-midyellow-100: #ffcf8f;
  --color-lightblue-100: #8cc2ec;
  --color-darkblue-100: #5160d4;
  --color-white-100: #ffffff;
  --color-black-100: #000000;
  --color-darkyellow-100: #ff9100;

  /* RADIUS */
  --radius-xl-32: 32px;
  --radius-lg-20: 20px;
  --radius-md-16: 16px;
  --radius-sm-12: 12px;
  --radius-pill-50: 50px;

  /* SHADOW */
  --shadow-offset-y-10: 10px;
  --shadow-blur-30: 30px;

  /* SPACING */
  --space-xs-4: 4px;
  --space-sm-8: 8px;
  --space-md-16: 16px;
  --space-lg-24: 24px;
  --space-xl-32: 32px;
  --space-2xl-40: 40px;

  /* TYPOGRAPHY */
  --font-family-primary: "Poppins", sans-serif;

  --font-size-xs: 16px;
  --font-size-sm: 20px;
  --font-size-md: 28px;
  --font-size-lg: 38px;
  --font-size-xl: 50px;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}